OPENAI_API_KEY=
LOCAL_STORAGE_PATH=
REPLACE_WORD_0=Platform
REPLACE_VALUE_0=App

REPLACE_WORD_1=My Compnay Name
REPLACE_VALUE_1=Generic Software Compnay

REPLACE_WORD_2=Internal Application Name
REPLACE_VALUE_2=Internal Application